
    <div class="row">
        <div>
            <div class="well sidebar-nav">
                <strong>Facebook Feed of Shwetha Gattu</strong>
            </div>


            <table class="table table-striped">
                <thead>
                <th>
                    Facebook Feed NAME
                </th>
                <th>
                    FaceBook feed id
                </th>

                </thead>
                <tbody>
                {{#each item in controller}}
                 {{#each data in item.action.data}}
                    <tr>

                        <td>{{data.name}}</td>
                        <td>{{data.id}}</td>

                    </tr>
                 {{/each}}
                {{/each}}
                </tbody>
            </table>

        </div>
    </div>
