<div class="row">
    <div>
        <div class="well sidebar-nav">
            <strong>Facebook Insights of Coca Cola page for Example</strong>
        </div>


        <table class="table table-striped">
            <thead>
            <th>
                Facebook Insight NAME
            </th>
            <th>
                FaceBook Insight id
            </th>
            <th>
                Facebook Insight values
            </th>

            </thead>
            <tbody>
            {{#each item in controller}}
                <tr>

                    <td>{{item.insightName}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.facebookinsight}}</td>

                </tr>

            {{/each}}
            </tbody>
        </table>

    </div>
</div>